@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	
}

.album-art {
	border: 2px darkred solid;
	padding: 15px;
	margin: 30px;
	height: 100px;
	width: 100px;
	float: left;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px darkred solid;
	padding: 15px;
	margin: 30px;
	width: 150px;
	float: left;

}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {

}

#about-photo {
	border: 2px darkred solid;
	padding: 12px;
	margin: 15px;
	float: left;

}

#copyright {
	color: red;
	font-size: 0.8em;
	margin-top: 30px;
}

#section-about, #section-discography, #section-equipment {
	border: 2px darkred solid;
	margin: 12px 15px;
	padding: 15px;
}

#text-intro {
	border: 2px red solid;
	color: red;
	background-color: #4b4d4b;
	padding: 1.25em;
	margin: 20px 20px 30px 20px;
}

